figure {
  margin: 0;
  padding: 0;
}

.emt .eStore_container {
  width: 1020px;
  margin: 0 auto;
}

@media only screen and (max-width: 1080px) {
  .emt .eStore_container {
    width: 95%;
  }
}

.emt .eStore___subject {
  color: #333;
  font-size: 26px;
  line-height: 2.5em;
  margin-left: 20px;
  margin-right: 20px;
}

.emt__banner {
  padding-top: 15px;
}

.emt__banner__items {
  margin: 0 20px;
}

.emt__banner__items img {
  width: 100%;
}

.emt__rows {
  margin-bottom: 60px;
  zoom: 1;
}

.emt__rows:before, .emt__rows:after {
  content: "";
  display: table;
}

.emt__rows:after {
  clear: both;
}

.emt__rows .emt__items__container {
  margin: 0 20px;
}

.emt__rows .emt__items__img img {
  width: 100%;
  height: auto;
  line-height: 1;
  margin-bottom: -4px;
}

.emt__rows .emt__items__img iframe {
  margin-bottom: -4px;
}

.emt__rows .emt__items__content {
  padding: 15px;
}

.emt__rows .emt__items__title {
  border: none;
  font-size: 18px;
  height: 2.2em;
  margin-bottom: .5em;
  overflow: hidden;
}

.emt__rows .emt__items__text {
  font-size: 14px;
  height: 3.6em;
  overflow: hidden;
}

.emt__products .emt__productItems {
  width: 475px;
  margin: 0 20px;
}

.emt__products .emt__productItems__title {
  background-color: #004280;
  color: #fff;
  text-align: center;
  line-height: 2.2;
  font-size: 18px;
  display: block;
}

.emt__products .emt__productItems__title a {
  color: #fff;
}

.emt__products .emt__productItems__list {
  zoom: 1;
  border: 1px solid #efefef;
  padding: 6px 0 24px;
}

.emt__products .emt__productItems__list:before, .emt__products .emt__productItems__list:after {
  content: "";
  display: table;
}

.emt__products .emt__productItems__list:after {
  clear: both;
}

.emt__products .emt__productItems__img {
  width: 120px;
  height: 120px;
  position: relative;
}

@media only screen and (max-width: 1080px) {
  .emt__products .emt__productItems__img {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
  }
  .emt__products .emt__productItems__img img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
  }
}

.emt__products .emt__productItems__name {
  font-size: 15px;
  color: #4398ef;
  border: none;
  height: 2.2em;
  overflow: hidden;
}

.emt__products .emt__productItems__name a {
  color: #4398ef;
}

@media only screen and (max-width: 1080px) and (min-width: 769px) {
  .emt__products .emt__productItems__name {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1080px) {
  .emt__products .emt__productItems__name {
    font-size: 13px;
  }
}

.emt__products .emt__productItems__listItems {
  float: left;
  width: 25.3%;
  margin: 0 4%;
}

.emt__products .emt__productItems__text {
  line-height: 1.5;
  height: 4.5em;
  overflow: hidden;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1080px) {
  .emt__products .emt__productItems__text {
    font-size: 12px;
  }
}

.emt__products .emt__productItems__instock {
  line-height: 1.5em;
  color: #999;
}

.emt__products .emt__productItems__instock span {
  color: #333;
}

.emt__products .emt__productItems__price {
  font-size: 20px;
  color: #f39800;
  line-height: 1.5em;
}

@media only screen and (max-width: 960px) {
  .emt__products .emt__productItems__price {
    font-size: 16px;
  }
}

.emt__products .emt__productItems__button {
  text-align: center;
  background-color: #4398ef;
  color: #fff;
  border-radius: 3px;
  display: block;
  line-height: 2;
}

.emt__products .emt__productItems__button:hover {
  background-color: #2284e8;
}

@media only screen and (max-width: 480px) {
  .emt__products .emt__productItems__button {
    font-size: 11px;
  }
}

.emt__store .emt__rows .emt__storeItems {
  width: 100%;
  position: relative;
}

.emt__store .emt__rows .emt__storeItems__container {
  margin: 0 20px;
}

.emt__store .emt__rows .emt__storeItems__banner {
  position: absolute;
  width: 30.61%;
}

.emt__store .emt__rows .emt__storeItems__banner img {
  width: 100%;
}

.emt__store .emt__rows .emt__storeItems__banner:nth-child(1) {
  width: 66.32%;
  position: relative;
}

.emt__store .emt__rows .emt__storeItems__banner:nth-child(2) {
  right: 20px;
  top: 0;
}

.emt__store .emt__rows .emt__storeItems__banner:nth-child(3) {
  right: 20px;
  bottom: 4px;
}

@media only screen and (max-width: 768px) {
  .emt__store .emt__rows .emt__storeItems__banner {
    position: relative;
  }
  .emt__store .emt__rows .emt__storeItems__banner:nth-child(1) {
    width: 100%;
    position: relative;
    margin-bottom: 2%;
  }
  .emt__store .emt__rows .emt__storeItems__banner:nth-child(2) {
    width: 48%;
    left: 0;
    right: 0;
  }
  .emt__store .emt__rows .emt__storeItems__banner:nth-child(3) {
    width: 48%;
    left: 0;
    right: 0;
    bottom: 0;
    float: right;
  }
}

.emt__applicatoon .emt__items {
  width: 33.3333%;
  float: left;
}

.emt__applicatoon .emt__items__title {
  color: #000;
}

.emt__applicatoon .emt__items__title a {
  color: #000;
}

.emt__applicatoon .emt__items__title a:hover {
  color: #4398ef;
}

.emt__applicatoon .emt__items__content {
  background-color: #ecf2f7;
}

@media only screen and (max-width: 600px) {
  .emt__applicatoon .emt__items {
    width: 100%;
    margin-bottom: 20px;
  }
}

.emt__technology .emt__items__title {
  color: #000;
}

.emt__technology .emt__items__title a {
  color: #000;
}

.emt__technology .emt__items__title a:hover {
  color: #4398ef;
}

.emt__technology .emt__items__content {
  background-color: #ecf2f7;
}

.emt__video .emt__items__img {
  width: 100%;
  height: 0;
  padding-top: 56.66%;
  position: relative;
}

.emt__video .emt__items__img iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.emt__video .emt__items__content {
  border: 1px solid #efefef;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
  z-index: 10;
  position: relative;
}

.emt__video .emt__items__title {
  color: #004280;
}

.emt__video .emt__items__title a {
  color: #004280;
}

.emt__video .emt__items__title a:hover {
  color: #4398ef;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots li {
  width: 20px;
  height: 10px;
}

.slick-dots li button {
  width: 20px;
  height: 10px;
}

.slick-dots li button:before {
  width: 20px;
  height: 10px;
  content: '';
  text-align: center;
  opacity: 1;
  background-color: #bec5ca;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #004280;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 11;
  top: 50%;
  display: block;
  width: 25px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: #ecf2f7;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: #ecf2f7;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  content: '';
  width: 25px;
  height: 50px;
  line-height: 1;
  opacity: .75;
  color: white;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  background-image: url(../images/emt/arrow_left.png);
  background-repeat: no-repeat;
}

[dir='rtl'] .slick-prev:before {
  background-image: url(../images/emt/arrow_left.png);
  background-repeat: no-repeat;
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  background-image: url(../images/emt/arrow_right.png);
  background-repeat: no-repeat;
}

[dir='rtl'] .slick-next:before {
  background-image: url(../images/emt/arrow_right.png);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1080px) {
  .slick-prev {
    left: -15px;
  }
  .slick-next {
    right: -15px;
  }
}

@media only screen and (max-width: 600px) {
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: -10px;
  }
}
