body {
  margin: 0;
  font-family: "PingFangTC-Regular", "PingFangTC", Arial, Helvetica, "HeitiTC", "微軟正黑體", "Microsoft JhengHei", sans-serif;;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #6C6C6C;
  text-align: left;
  background-color: #fff;
}
img {
  vertical-align: middle;
  border-style: none;
}
a {
  color: #6C6C6C;
  text-decoration: none;
}

a:hover {
  color: #6C6C6C;
}
/*商城header footer最外層*/
.eStore_wrapper{min-height:100%; height:auto!important; height:100%; background-color:#fff;}

/*landing page最外層*/
#adventech-lp{
  
}
#adventech-lp.lp-wrapper{
  margin: 0;
  width: 100%;
}
#adventech-lp .lp-container {
  width: 100%;
}

/*主視覺*/
#adventech-lp .lp-header{
  background: #DDDDDD;
  height: 400px
}

/*選單*/
#adventech-lp .lp-nav{
  background: #F29B00;
  height: 68px;
  font-size: 18px;
  color:#FFFFFF;
  padding: 0 20px;
}
.lp-nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.lp-nav ul li{
  display: block;
  float: left;
}

.lp-nav ul li a{
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  padding: 20px 15px;
}
.lp-nav ul li a:hover{
  background: #DF8600;
}

/*描述*/
#adventech-lp .lp-description{
  clear: both;
  padding: 20px;
 
}
#adventech-lp .lp-description p{
  line-height: 30px;
  text-align: justify;
}

/*痛點*/
#adventech-lp .lp-point{
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #72808E;
}
#adventech-lp .lp-point img{
  width: 170px;
}
#adventech-lp .lp-point p{
    text-align: justify;
}

/*成功案例*/
#adventech-lp .lp-case{
  background: #F9F9F9;
  padding: 20px;
}
#adventech-lp .lp-case-border{
  border-bottom: 6px solid #F29B00;
  margin-bottom: 35px;
}
#adventech-lp .lp-case h2 ,#adventech-lp .lp-case h2 a{
  color: #505050;
  font-size: 34px;
  margin: 0;
  text-decoration: none;
}
#adventech-lp .lp-case h2 a:hover{
  color: #00B2BB;
  border-bottom: 2px solid #00B2BB;
}
#adventech-lp .lp-case p{
  font-size: 22px;
  text-align: justify;
}


/*影片*/
#adventech-lp .lp-video{
  background: #00B2BB;
  padding: 20px 20px 50px 20px;
  color: #FFFFFF;
}
#adventech-lp .lp-video iframe{
  width: 100%;
  height: 315px;
}
#adventech-lp .lp-video h2 ,#adventech-lp .lp-video h2 a{
  color: #FFFA88;
  font-size: 34px;
  margin: 0;
  text-decoration: none;
}
#adventech-lp .lp-video h2 a:hover{
  color: #D3FEFF;
  border-bottom: 2px solid #D3FEFF;
}

/*Banner*/
#adventech-lp .lp-banner{
  padding: 20px;
}

/*商品*/
#adventech-lp .lp-product{
  background: #F9F9F9;
    padding: 20px;
}
#adventech-lp .lp-product .product-item{
  background: #FFFFFF;
    padding: 20px;
    display: block;
}
#adventech-lp .lp-product .product-item:hover{
    box-shadow: 0px 0px 8px #DDDDDD;
}

#adventech-lp .lp-product .product-item h3.product-name{
  font-size: 20px;
  margin: 10px 0 10px 0;
  color:#222222;
  line-height: 1.2;
}
#adventech-lp .lp-product .product-item p.product-desc{
  font-size: 14px;
  margin: 0px 0 10px 0;
  color: #5C5C5C;
  line-height: 1.2;
}
#adventech-lp .lp-product .product-item p.product-price{
  font-size: 26px;
  font-family: Verdana;
  font-weight: bold;
  margin: 0;
  line-height: 1;
  color: #E25739;
}
#adventech-lp .lp-product .product-item .mute{
  font-size: 13px;
  font-weight: normal;
  color: #ABABAB;
  margin-left: 3px;
}
/*聯絡*/
#adventech-lp .lp-contact{
  background: #00B2BB;
  padding: 20px;
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
}
#adventech-lp .lp-contact p{
  margin: 26px 0;
}
#adventech-lp .lp-contact .contact-link{
  margin-left: 30px;
  display: inline-block;
  background: #F29B00;
  padding: 10px 60px;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
}
#adventech-lp .lp-contact .contact-link:hover{
  background: #DF8600;

}

/*底部Banner*/
#adventech-lp .lp-footer{
  background: url("../images/template/lp-footer.jpg") no-repeat 50%;
  height: 300px;
}


/*-共用css-*/

/*-描述、成功案例標題-*/
.lp-h1-A{
  font-size: 40px;
  color: #F29B00;
  border-left:6px solid #00B2BB;
  line-height: 1;
  padding-left: 10px;
}
/*-精彩影片標題-*/
.lp-h1-B{
  font-size: 40px;
  color: #EAFEFF;
  border-left:6px solid #80D4D9;
  line-height: 1;
  padding-left: 10px;
}
/*-商品分類標題-*/
.lp-h1-C{
  font-size: 40px;
  color: #5C5C5C;
  border-left:6px solid #00B2BB;
  line-height: 1;
  padding-left: 10px;
}
/*-圖片-*/
.img-fluid{
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}